<!-- Carousel Stuff -->

  <div class="row">
    

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">

        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <% (1..@room.pictures.count-1).each do |c|%>
            <li data-target="#myCarousel" data-slide-to="<%=c%>"></li>
        <%end%>

      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <% @room.pictures.each do |p|%>
        <div class="item <%if p == @room.pictures.first %>active<%end%>">
          <%= image_tag p.picture.url, style: "height:300px"%><br>
          <div class="carousel-caption">
            <p><%=p.sub%></p>
          </div>
        </div>
        
        <%end%>

        <% if @room.pictures.count == 0 %>
        <div class="item active">

          <img src="http://www.underconsideration.com/brandnew/archives/airbnb_logo_detail.png", style="height:300px">

          <div class="carousel-caption">
            <p>Placeholder</p>
          </div>
        </div>
        <% end %>
        

      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
    <!-- Carousel ends here -->