
<!-- Não deve mostrar os próprios anûncios -->
<% Room.where.not(user_id: current_user.id).each do |r|  %>

	<%= link_to room_path(r)  do %>
	
	<div class="offerCard">

		<strong><%= r.title %></strong><br>

		<strong><%= number_to_currency(r.price * (((@end_date - @start_date).to_i)/1.day)) %></strong> for <%= pluralize(((@end_date - @start_date).to_i)/1.day, "night") %> 
	</div>

	<% end %>

<% end %>
